html, body { 
  height: 100%; 
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  box-sizing: border-box;
  background-color: #303030;
  // background-image: url("assets/images/gray-background-1.jpg");
}

.flex-row {
  display: flex;
}

.flex-row-center {
  display: flex;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}



